.wrapper {
    width: 200px;
     height: 300px;
  
   background-color: rgba(33, 233, 199, 0.849);
   margin: 0 auto;
   padding: 5px;
   position: relative;
   
   }
   
   .card, .overlay{
     width: 100%;
     height: 100%;
     background-color: greenyellow;
     overflow: hidden;
     backface-visibility: hidden;
     position: absolute;
     transition: transform ease 1s; 
   }
   
   .card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 150px;
   align-items: center;
   position: relative;
   transform: perspective(600px) rotateY(0deg);
   }

   p{
       margin-top: 5px;
       -bottom: 5px;
   }
   
   
   .card img {
     width: 150px;
     height: 150px;
     object-fit: cover;
     transform: none;
     border-radius: 50%;
   }
   
   
   
   .overlay {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.644);
   color: black;
   background-color: rgb(119, 175, 8);
   width: 100%;
   height: 0;
   overflow: hidden;
   bottom:0;
   height: 100%;
   transform: perspective(600px) rotateY(180deg);
   top: 0;
   left: 0;
   transition: height ease 1s;
   display: flex;
   justify-content: center;
   align-items: center;
   
   }
   
   .wrapper:hover .overlay{
     height: 70%;
   }
   .wrapper:hover .card{
    transform: perspective(600px) rotateY(-180deg);
   } 
   
   .wrapper:hover .overlay {
     transform: perspective(600px) rotateY(0deg); 
   }